html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul,ol{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
body{
    font-family: 'Fraunces', serif;
}
.container{
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 20px;
}